<p id="notice"><%= notice %></p>

<h1>Listing Song Tags</h1>

<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Tag name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @song_tags.each do |song_tag| %>
      <tr>
        <td><%= song_tag.song %></td>
        <td><%= song_tag.tag_name %></td>
        <td><%= link_to 'Show', song_tag %></td>
        <td><%= link_to 'Edit', edit_song_tag_path(song_tag) %></td>
        <td><%= link_to 'Destroy', song_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song tag', new_song_tag_path %>
