<p id="notice"><%= notice %></p>

<p>
  <strong>Spotify:</strong>
  <%= @song.spotify_id %>
</p>

<p>
  <strong>Song name:</strong>
  <%= @song.song_name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song.genre %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
