<p id="notice"><%= notice %></p>

<h1>Listing Emotions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emotions.each do |emotion| %>
      <tr>
        <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= emotion.name %><i class="material-icons right">more_vert</i></span>
          <p>
            <ul>
              <li><%= link_to 'Show', emotion %></li>
              <li><%= link_to 'Edit', edit_emotion_path(emotion) %></li>
              <li><%= link_to 'Destroy', emotion, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>




<br>

<%= link_to 'New Emotion', new_emotion_path %>
